@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  padding-left: 5px;
}
textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  padding-left: 5px;
}
textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  padding-left: 5px;
}
textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  padding-left: 5px;
}
